header {
    border-bottom: solid #000 2px;
    margin-bottom: 1rem;
    
    nav {
        width: 98%;
        margin: 0 auto;
        padding: .5rem 0;

        .logo {
            width: 150px;
        }
    }
}