<div class="page-content">
    <a href="/" class="back-arrow">
        <img src="../../../../assets/left-arrow.png" alt="Retour sur la page principale">
    </a>

    <div class="form-content">
        <h1>Se connecter</h1>

        <form action="">
            <label for="userinfo">E-mail ou nom d'utilisateur</label>
            <input type="text" id="userinfo" class="userinfo" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" class="password" required>

            <button type="submit">Se connecter</button>
        </form>
    </div>
</div>