<div class="page-content">
    <button (click)="goToCreatePage()">Créer un article</button>
    
    <div *ngIf="posts.length" class="posts">
        <article class="post-content" *ngFor="let post of posts" (click)="seeMore(post.id)">
            <h2>{{ post.title }}</h2>
            <div class="post-informations">
                <p class="infos">{{ formatDate(post.createdAt) }}</p>
                -
                <p class="infos">{{ post.user?.username }}</p>
            </div>
            <p class="content" (click)="seeMore(post.id)">{{ post.content }}</p>
        </article>
    </div>
</div>